##################################
####### Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance.
executable="./run_server_x64_minqlx.sh"
port="27961"
startparameters="+set net_port 27961 +exec ${servercfg}"
